.header
  background-color: #f8f8f8
  position: sticky
  top: 0
  width: 100%
  z-index: 200
  padding: 10px 0
  transition: background-color .3s ease
  .container
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap
  .logo
    display: flex
    align-items: center
    img
      width: 3rem
      margin-right: 6px
    p
      font-size: 2.2rem
      font-weight: 700
  &__right
    display: flex
    align-items: center

  .search
    height: 32px
    display: flex
    align-items: center
    justify-content: center
    padding-right: 1rem
    margin-right: 1rem
    cursor: pointer
    img
      pointer-events: none
      height: 22px
  &__search
    &-form
      background-color: #444
      +absolute-middle-position
      z-index: -1
      transition: all .2s ease
      opacity: 0
      &_active
        z-index: 1000
        opacity: 1
    &-input
      margin-right: auto
      padding-left: 12px
      background-color: #444
      outline: none
      border: none
      font-size: 16px
      font-weight: 600
      color: #ddd
      min-width: 10rem
    &-icon
      font-size: 20px
      color: #ddd
      &:first-child
        padding: 1.6rem 1.6rem 1.6rem 0
      &:last-child
        padding: 1.6rem 0 1.6rem 1.6rem
