.modal
  &__overlay
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 999
    background-color: rgba(0, 0, 0, .8)
    position: fixed
    overflow: scroll

  &__buttons
    display: flex
    justify-content: space-between
    padding: 0 12px
    margin-bottom: 3rem
    &_like
      +modal-btn
    i
      color: #5b5b5b
      margin-right: 10px
      font-size: 24px

    &_seen
      +modal-btn
      i
        color: #5b5b5b
        margin-right: 10px
        font-size: 24px

  &__additions
    display: flex
    flex-direction: column
    align-items: flex-start
    font-size: 12px
    color: #555
    justify-content: space-between
    width: 15rem
    height: 22rem
    &-title
      font-size: 20px
      font-weight: 700





  &__window
    z-index: 1000
    position: relative
    bottom: 0
    width: 100%
    background-color: #fff
    margin-top: 100px
    border-radius: 24px 24px 0 0
    overflow: hidden





    &-wrapper
      padding: 0 1rem


    &-top
      display: flex
      justify-content: space-between
      margin-bottom: 3rem
      padding: 50px 12px 0

      & img
        border-radius: 12px
        width: 17rem
        //height: 22rem

  &__description
    text-align: left
    margin-bottom: 2rem
    line-height: 1.4
    color: #000


  &__heading
    &-plot
      +modal-heading
      &:after //можно обернуть в функцию и прокидывать width
        width: 80%
        +modal-heading-after
    &-creators,
    &-cast
      +modal-heading
      &:after //можно обернуть в функцию и прокидывать width
        width: 77%
        +modal-heading-after
    &-similar
      +modal-heading
      &:after //можно обернуть в функцию и прокидывать width
        width: 48%
        +modal-heading-after

  &__cast
    &-name
      color: #000
      font-size: 14px
    &-role
      color: #000
      font-size: 12px
    &-wrapper
      min-width: 22rem
      img
        height: 18rem
        border-radius: 16px

.swiper
  &-wrapper
    height: 26rem
  &-pagination-bullet-active ,
  &-pagination-bullet
    background-color: #ffcf11
