.nav
  display: flex
  overflow-x: scroll
  +adaptive-value('padding-top',22,18,1)
  +adaptive-value('padding-bottom',22,18,1)
  +adaptive-value('padding-left',22,16,1)
  margin: 0 -16px
  -webkit-overflow-scrolling: touch
  @media (min-width: $res3+px)
    overflow-x: auto
    padding-left: 0
    margin: 0

  &-wrapper
    overflow: hidden

  &__link
    flex-shrink: 0
    padding-right: 2rem
    position: relative

    &_active
      color: #ecae00