.toggler
  width: 4rem
  height: 2.4rem
  border: 2px solid $border-color
  border-radius: 2.4rem
  position: relative
  display: flex
  align-items: center
  justify-content: center
  transition: all .3s ease

  &_active 
    background-color: #444
    border: 2px solid #696969

    .toggler
      &__sun
        transform: translateX(-10px)
        background-color: #444
        
      &__moon
        opacity: 1


  &__sun
    position: relative
    height: 1.6rem
    width: 1.6rem
    background-color: #ffcf11
    border-radius: 50%
    z-index: 2
    transition: all .3s ease
    order: 2

  &__moon
    position: relative
    height: 1.6rem
    width: 1.6rem
    background-color: #ffffff
    border-radius: 50%
    opacity: 0
    transition: all .3s ease
