=absolute-middle-position 
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  margin: auto

=transition-all
    transition: all .3s ease

=overlay
  position: absolute
  height: 100vh
  width: 100vw
  z-index: 1000

=flex-center
  display: flex
  justify-content: center
  align-items: center

  