=adaptive-value($property, $startSize, $minSize, $type)
  $addSize: $startSize - $minSize
  @if $type==1
    //Только если меньше контейнера
    #{$property}: $startSize + px
    @media (max-width: #{$maxWidthContainer + px})
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))
  @else if $type==2
    //Только если больше контейнера
    #{$property}: $startSize + px
    @media (min-width: #{$maxWidthContainer + px})
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))
  @else
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

=debug
  *
    outline: 1px solid teal
    *
      outline: 1px solid lightblue
      *
        outline: 1px solid lightcoral

=middle-position($position)
  top: 0
  right: 0
  left: 0
  bottom: 0
  margin: auto
  position: #{$position}

=absolute-middle-position
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  margin: auto

=transition-all
    transition: all .3s ease

=overlay
  position: absolute
  height: 100vh
  width: 100vw
  z-index: 1000

=flex-center
  display: flex
  justify-content: center
  align-items: center

=pseudo
  content: ''
  display: block
  position: absolute



=modal-heading-after
  content: ''
  position: absolute
  top: 50%
  right: -10px
  height: 4px
  border-radius: 8px
  background-color: #e9e8e8

=btn

